#byLine
{
	text-align: right;
	margin-top: 20px;
	
}

img
{
	opacity: .6;
}

img:hover {
	opacity: 2;
}

html{
	background-color: #f0f2f6;
}

.container
{
	background-color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	width: 700px;
	
}

form
{
	margin-bottom: 0rem;
}
button:hover
{
 background-color: yellow;
}

button:active
{
	background-color: green;
	color: white;
}



#byLine h4
{

margin-bottom: 0rem;

}

.wizardContainer
{
	margin-left: 30px;
}

.wizardContainer div
{
	display: inline-block;
	margin-right: 10px;

}

.wizardContainer p
{
	text-align: center;

}





/* radio buttons */
.radioButton {
        display: none !important;
    }

.imageToggle .toggleImage {
        /* default/unselected image styles here */
    
    }
    
.imageToggle .selectedImage {
        /* selected image styles here */

        
       animation: mymove .2s;
        border: 2px solid;
    }





/* Standard syntax */
@keyframes mymove {
    from {border: 1px dashed;}
    to {border: 2px solid;}
}